
{% extends 'base.html'%}
{% block body %}
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <img src="{{song.img.url}}" width="300" height="300">
      </div>
 <div class="col-md-6">
  <h2>{{song.song_name}}</h2>
<h4>{{song.movie_name}}</h4>
<h4>{{song.singer}}</h4>
<h4>{{song.year}}</h4>
     <a class="btn btn-warning" href="{% url 'songapp:update' song.id %}">update</a><br>
      <a class="btn btn-danger" href="{% url 'songapp:delete' song.id %}">delete</a>
  </div>
</div>
   {% endblock %}
